<header style="background-image: url(/images/cover.jpg);"class="header">
        <img src="/images/logo.png" class="logo">
        <div class="brand">
            <div class="name">Энэтхэгийн их сургууль</div>
            <div class="motto">Come as a leader, leave as a student</div>
        </div>
</header>