@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --primary-color: #101918;
  --first-color: #5e3449;
  --secondary-color: #959ea7;
  --third-color: #d62828;
  --fourth-color: #f77f00;
  --fifth-color: #fcbf49;
  --sixth-color: #eae2b7;
  --seventh-color: #f2f2f2;
  --space: 1rem;
  --eighth-color: #800080;
  --nineth-color: #6f7574;
  --tenth-color: #be8540;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.menu-bar {
  background-image: linear-gradient(
    180deg,
    var(--nineth-color),
    var(--primary-color)
  );
}

.nav-link {
  font-size: 20px;
  margin: 3px;
  font-weight: bold;
  color: var(--seventh-color) !important;
}

.nav-link:hover {
  color: var(--fifth-color) !important;
  transition: all 0.5s;
}
.menu-bar .navbar-toggler {
  outline: none;
  border: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar-nav {
  margin-right: 7rem;
}

#bars {
  font-size: 1.8rem;
  color: var(--seventh-color);
}

#bars:hover {
  color: var(--fifth-color);
}

.navbar-brand {
  color: var(--fifth-color) !important;
  font-size: 1.8rem;
  font-family: "Grandstander", cursive;
}

.navbar-brand:hover {
  color: var(--seventh-color) !important;
  transition: all 1s;
}

/* section style*/

.section-class {
  background: url(images/computers-2.png) center/cover no-repeat;
  width: 100%;
  height: 850px;
  position: relative;
  padding-top: 5rem;
}

.section-class a {
  text-decoration: none;
}
.section-class:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  animation-delay: 2s;
  text-transform: uppercase;
  padding-top: 10rem;
  color: var(--seventh-color);
  text-align: center;
  animation-iteration-count: 2;
}
h2 span {
  color: var(--fifth-color);
}

.btn {
  display: block;
  margin: auto;
  margin-top: 5rem;
  animation-delay: 3s;
  background: var(--fifth-color);
  color: var(--seventh-color);
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 10px;
  text-transform: uppercase;
}

.btn:hover {
  background: var(--seventh-color);
  color: var(--primary-color);
}

/* showcase */

showcase .container {
  display: flex;
  justify-content: space-between;
}

.service-class {
  padding-top: 3rem;
}

.oval {
  background: var(--fifth-color);
  width: 130px;
  height: 130px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding-top: 13px;
  margin: auto;
  margin-top: 15px;
  animation-name: circle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes circle {
  0% {
    background: none;
  }
  100% {
    border-radius: 50%;
  }
}

.icon-3 {
  height: 100px;
  padding: 1rem 0;
  animation-iteration-count: infinite;
}

.container h3 {
  font-weight: bolder;
  margin-top: 1rem;
}

.container p {
  margin-top: 2rem;
  color: var(--secondary-color);
  margin-bottom: 3.5rem;
  font-size: 1.2rem;
  padding: 1rem;
}

.box {
  text-align: center;
}

.service-class {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.service {
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 5rem;
  font-weight: bolder;
  font-family: "Courgette", cursive;
}

.service::first-letter {
  font-size: 8rem;
}

.service:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background: var(--seventh-color);
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

/* showcase-content */

.showcase-content {
  background: var(--seventh-color);
}

.special {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.showcase-content h3 {
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
  font-family: "Courgette", cursive;
}

.showcase-content .minus {
  width: 110px;
  margin: 0 0.5rem;
  margin-top: -25px;
}
.showcase-content .fas {
  color: var(--fifth-color);
}

.showcase-content .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.projects {
  margin-bottom: 2rem;
}

.post {
  width: 300px;
  height: 180px;
  position: relative;
  cursor: pointer;
}

.post:hover .post-hover {
  width: 300px;
}

.post .project {
  width: 300px;
  height: 180px;
}

.post-hover {
  width: 0;
  height: 180px;
  background: rgba(30, 187, 215, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 1s ease;
}

.post-hover a {
  text-decoration: none;
}

.post-hover h5 {
  color: var(--seventh-color);
  font-weight: bold;
  border: 6px solid var(--seventh-color);
  font-size: 2.3rem;
  padding: 10px 30px;
}

.projects h3 {
  text-align: center;
  /* padding-top: 1rem; */
}

/* about */

.showcase-about {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-around;
}

.space {
  padding-top: 5rem;
  width: 48%;
}

.space-2 {
  padding-top: 12rem;
}

.list {
  padding-top: 2rem;
  text-align: center;
}
.space-2 .list h3 {
  color: var(--secondary-color);
  font-family: "Courgette", cursive;
}
.space-2 .list h3 span {
  color: var(--fifth-color);
}
.showcase-about h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  font-family: "Courgette", cursive;
}

.showcase-about p {
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.container-1 {
  width: 90%;
  background: #e1e1e1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 1rem;
}

.html {
  width: 90%;
  background: #743dce;
  text-align: right;
  padding: 0.3rem;
  color: #fff;
  animation: html 5s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}

.css {
  width: 80%;
  background: #266d98;
  text-align: right;
  padding: 0.3rem;
  color: #fff;
  animation: css 5s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}

.js {
  width: 85%;
  background: #2187e7;
  text-align: right;
  padding: 0.3rem;
  color: #fff;
  animation: js 5s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}
.jquery {
  width: 65%;
  background: #1a2469;
  text-align: right;
  padding: 0.3rem;
  color: #fff;
  animation: jquery 5s;
  animation-iteration-count: infinite;
  border-radius: 5px;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes jquery {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

/* about respossive */

@media screen and (min-width: 360px) and (max-width: 992px) {
  .showcase-about {
    display: flex;
    flex-direction: column;
  }
  .space {
    width: 98%;
  }
  .space-2 {
    padding-top: 1rem;
  }

  .space-2 .list h3 {
    font-size: 1.5rem;
  }
}

/* contact styles */

.showcase-contact {
  background: url("images/pexels-photo-592753.jpeg") no-repeat center
    center/cover;
  position: relative;
  width: 100%;
  height: 680px;
}

.contact-info {
  padding-top: 4rem;
}

.showcase-contact:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
}

.showcase-contact .contact-info h3 {
  text-align: center;
  color: var(--seventh-color);
  padding-top: 5rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inp {
  margin: 1rem;
  margin-left: 4rem;
  border-radius: 5px;
  padding: 10px;
  width: 550px;
  height: 60px;
  color: var(--seventh-color);
  font-weight: bolder;
  border: 2px solid var(--primary-color) solid var(--primary-color);
}

.block {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.btn-2 {
  background: var(--fifth-color);
  border-radius: 15px;
  font-weight: bolder;
  color: var(--seventh-color);
  padding: 10px 30px;
  font-size: 1rem;
  width: 250px;
  height: 50px;
  text-transform: uppercase;
}

.btn-2:hover {
  transition: all 100000000s ease-in;
}

/* contact-responsive */

@media screen and (min-width: 360px) and (max-width: 992px) {
  .btn-2 {
    width: 150px;
    height: 40px;
    font-size: 0.5rem;
  }
  .inp {
    width: 350px;
  }
}

/* footer */
footer {
  background-image: linear-gradient(
    90deg,
    var(--tenth-color),
    var(--primary-color)
  );
  display: flex;
  justify-content: space-around;
  height: 5rem;
}

footer p {
  text-align: center;
  color: var(--seventh-color);
  font-size: 18px;
  font-weight: bolder;
  padding-top: 2rem;
}
