.spanTag {
    font-size: 100px;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
}

.lapDiv {
    height: 300px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-track-color: yellow;
    margin-top: 2%;
}

button {
    font-size: 30px;
    width: 120px;
    height: 90px;
    border-radius: 90%;
}

.lapDiv {
    padding-left: 3%;
    /* text-align: left; */
    font-weight: bold;
}

.pTag {
    font-size: 40px;
    color: white;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .pTag {
        font-size: 40px;
    }
    .lapDiv {
        position: relative;
        top: 200px;
        height: 300px;
        width: 80%;
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-track-color: yellow;
        margin-top: 2%;
    }
    .yronhiiDiv {
        position: relative;
        top: 200px;
    }
}